.tw-text-cursor::after {
  content: "\00a0";
  display: inline-block;
  width: .1rem;
  margin: 0;
  margin-left: .05rem;
  background-color: white;
  height: 100%;
  -webkit-animation-name: twCursorBlink;
          animation-name: twCursorBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes twCursorBlink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes twCursorBlink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=typewriter.css.map */