.tw-text-cursor {
    &::after {
        content: "\00a0";
        display: inline-block;
        width: .1rem;
        margin: 0;
        margin-left: .05rem;
        background-color: black;
        height: 100%;
        animation-name: twCursorBlink;
        animation-duration: 1s;
        animation-timing-function: step-end;
        animation-iteration-count: infinite;
    }
}

@keyframes twCursorBlink {
    0% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}